body{
  margin:0;
  background-color: #222;
}

/*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  margin: 10px;
  padding: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  margin: 10px;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);  
}*/